/* Сброс стандартных стилей */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
}

/* Глобальные отступы */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Кнопка выхода */
.logout-button {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #f87171;
}