/* app.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar a {
  color: var(--secondary-color);
  margin-right: 10px;
}

.navbar button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #b8860b;
}

.main-content {
  flex: 1;
  padding: 20px;
}